@font-face {
    font-family: 'Tec';
    src: url(/ASSETS/techno_agony/Techno\ Agony.otf);
    }
header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar {
    width: 100%;
    min-height: 100px;
    height: auto;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, white 0%, white 50%, transparent 100%);
    font-size: 2rem;
    letter-spacing: 1rem;
    color: #08083A;
    text-shadow: 0 0 8px gray;
}
.navbar a {
    display: inline-block;
    padding: 15px;
    transition: all 700ms ease-in-out;
}
.navbar a:hover {
    transform: scale(110%) translateY(10px);
    color: #3F3BA6;
}
.intro {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 120px 20px 40px;
    background: linear-gradient(#08083A 0%, transparent 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    font-family: 'Tec', sans-serif;
    letter-spacing: 1.25rem;
}
.intro h1 {
    font-size: 4rem;
}
.info h2 {
    font-size: 2rem;
}
.info span {
    letter-spacing: 1rem;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}
.expand-btn {
    display: block;
    margin: 0 auto;
    color: white;
    letter-spacing: 1.25rem;
    cursor: pointer;
}
.signup-form-wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to bottom, #08083A 0%, #08083A 50%, transparent 100%);
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    z-index: 5;
}

.signup-form-wrapper form {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
}
.signup-form-wrapper form .signup-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.signup-details h3, .signup-details h3 {
    font-size: 1.75rem;
}
.signup-details h3, .signup-details p {
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1rem;
}
.signup-form-wrapper form .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}
.signup-form-wrapper form .info input {
    width: 100%;
    height: auto;
    margin: 8px 0;
    padding: 8px 4px;
    border: none;
    border-radius: 2px;
}
.signup-form-wrapper form .info .terms-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
}
.terms-wrapper input {
    width: fit-content;
    height: auto;
    font-size: 1.25rem;
}
.terms-wrapper label {
    letter-spacing: 1rem;
}
.signup-form-wrapper form .info .terms-wrapper input[type='checkbox'] {
    width: 20px;
}
.signup-form-wrapper form .info .submit-btn {
    margin: auto;
    padding: 10px 24px;
    display: block;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    letter-spacing: 1.25rem;
    cursor: pointer;
}
.loading-wrapper {
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
@keyframes loadingRotation {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    10% {opacity: 0;}
    20%{opacity: 1;}
    30% {opacity: 0;}
    40%{opacity: 1;}
    50% {opacity: 0; transform: rotate(180deg);}
    60% {opacity: 1;}
    70% {opacity: 0;}
    80%{opacity: 1;}
    90% {opacity: 0;}
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
.loading-icon {
    display: block;
    width: 64px;
    height: auto;
    margin: 0 auto;
    animation: loadingRotation 4s infinite forwards;
}
.input-wrapper {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.input-wrapper h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1.25rem;
}
.input-wrapper .input-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.warning::after {
    display: block;
    width: fit-content;
    height: auto;
    font-size: 12px;
    font-weight: 900;
    content: 'Please enter agenda task!';
    color: red;
    font-family: 'Tec', sans-serif;
    letter-spacing: .8rem;
    animation: blink 1s infinite forwards;
    position: absolute;
    top: 24px;
    left: 0;
}
.input-section input, .input-section button {
    cursor: pointer;
    flex: 1;
    color: white;
}
.input-section .input-btn {
    width: fit-content;
    height: auto;
}
.input-section .input-btn span {

}
.input-section .input-btn span img {
    width: 32px;
    height: 32px;
}
.output-wrapper {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.action-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.action-wrapper .action-btn {
    flex: 1;
}
.output-wrapper .output {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.output .output-item {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.output .output-item .output-text {
    width: 100%;
    height: fit-content;
    margin: 0;
    color: black;
    flex: 1;
}
.output .output-item .output-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.output .output-item .output-actions button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: white;
}
.output-actions span {
    text-align: center;
}
.output-actions span img {
    width: 32px;
    height: 32px;
}

.account-success {
    margin: auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.account-success h1, .account-success h2 {
    display: block;
    font-size: 4rem;
    letter-spacing: 1.15rem;
    text-align: center;
}