
.intro {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 120px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
.signup-form-wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form-wrapper form {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
}
.signup-form-wrapper form .signup-details {
    
}
.signup-details h3, .signup-details p {
    margin: 10px 0;
    text-align: center;
}
.signup-form-wrapper form .info input {
    width: 100%;
    height: auto;
    margin: 8px 0;
    padding: 8px 4px;
    border: none;
    border-radius: 2px;
}
.signup-form-wrapper form .info .terms-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
}
.terms-wrapper input {
    width: fit-content;
    height: auto;
}
.signup-form-wrapper form .info .terms-wrapper input[type='checkbox'] {
    width: 20px;
}
.signup-form-wrapper form .info .submit-btn {
    margin: auto;
    padding: 8px 14px;
    display: block;
    border-radius: 4px;
    text-align: center;
}
.input-wrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.input-wrapper h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.input-wrapper .input-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.input-section input, .input-section button {
    flex: 1;
}
.input-section .input-btn {
    width: fit-content;
    height: auto;
}
.input-section .input-btn span {

}
.input-section .input-btn span img {
    width: 32px;
    height: 32px;
}
.output-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.action-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.action-wrapper .action-btn {
    flex: 1;
}
.output-wrapper .output {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.output .output-item {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.output .output-item .output-text {
    width: 100%;
    height: fit-content;
    margin: 0;
    flex: 1;
}
.output .output-item .output-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.output .output-item .output-actions button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.output-actions span {
    text-align: center;
}
.output-actions span img {
    width: 32px;
    height: 32px;
}